<!DOCTYPE html>
<html>
<head>
</head>
<body>
<canvas id="canvas1" width="400" height="400"></canvas>

<img id="myTexture" src="/images/phong4.png" style="display: none">

<script src="~/js/data.js"></script>
<script src="~/js/vector.js"></script>
</body>